@keyframes neonPulse {
    0% {
        text-shadow:
            0 0 6px rgba(74, 206, 22, 0.6),
            0 0 20px rgba(74, 206, 22, 0.4);
    }

    50% {
        text-shadow:
            0 0 12px rgba(74, 206, 22, 1),
            0 0 35px rgba(74, 206, 22, 0.9),
            0 0 70px rgba(74, 206, 22, 0.7);
    }

    100% {
        text-shadow:
            0 0 6px rgba(74, 206, 22, 0.6),
            0 0 20px rgba(74, 206, 22, 0.4);
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
}

/* ========================= HEADER ========================= */
.header {
    background-color: #4c53af;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 20px;
}

.search-container {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    height: 40px;
}

.search-btn {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    height: 40px;
}

.search-btn:hover {
    background-color: #e0e0e0;
}

/* ========================= CONTAINER ========================= */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main {
    padding: 30px 0;
}

.section-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333333;
}

/* ========================= GRID DE PRODUTOS ========================= */
.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px 10px #4c53af;
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
    border-radius: 8px;
}

.product-title {
    font-size: 16px;
    margin-bottom: 10px;
    height: 40px;
    overflow: hidden;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.product-discount {
    font-size: 14px;
    color: #00ff62;
    font-weight: bold;
}

/* ========================= HERO ========================= */
.hero {
    background-image: url(./assets/hero2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #000000;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    /* topo */
    align-items: center;          /* centro horizontal */
     background-color: #000;
    height: 450px;
   }

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* esquerda | centro | direita */
    height: 100%;
    width: 100%;
}

.hero-side {
    display: flex;
    align-items: center;
    justify-content: center;
}



.hero-left {
    background-image: url("./assets/placavideoneon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.hero-right {
    background-image: url("./assets/ps5neon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hero-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
    color: #ffffff;
    margin-bottom: 100px;
    text-shadow:
        0 0 8px rgba(0, 255, 100, 1),
        0 0 25px rgba(0, 255, 100, 0.9),
        0 0 60px rgba(0, 255, 100, 0.7),
        0 0 120px rgba(0, 255, 100, 0.5);
        animation: neonPulse s ease-in-out infinite;
}


.hero p {
    font-size: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 2px; /* espaço do rodapé */
    color: white;
    padding: 130px;
    text-shadow:
        0 0 6px rgba(0, 150, 255, 0.6)
}


/* ========================= FOOTER ========================= */
.footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    border-top: 2px solid #e0e0e0;
}

.footer p {
    color: #777777;
    font-size: 14px;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    z-index: 9999;
}

.whatsapp-button img {
    width: 50px;
    height: 50px;
}

/* ==========================================================
   RESPONSIVIDADE REAL
   ========================================================== */

/* 1024px — Tablets e notebooks menores */
@media (max-width: 1024px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 768px — Tablets e celulares maiores */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 20px;
    }

    .search-input {
        width: 100%;
    }

    .hero {
    height: auto;
    padding: 30px 0;
    display: none;
  }

    .hero-content h1 {
    font-size: 38px;
    color: rgb(140, 88, 236);
    margin-top: 10px;
    text-align: center;
}

    .hero p {
        font-size: 28px;
        display: none;
    }
}

/* 480px — Celulares */
@media (max-width: 480px) {

    .search-container {
        flex-direction: row;
        width: 100%;
    }

    .search-btn {
        padding: 10px;
    }

    .products-grid {
        grid-template-columns: 1fr;
        /* apenas 1 produto por linha */
    }

    .product-image {
        height: 170px;
    }

    .hero {
        height: 250px;
        background-size: cover;
    }

    .hero-content h1 {
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-bottom: 1000px;
    text-align: center;
}

    .hero p {
        font-size: 12px;
        padding: 50px;
    }
}