* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
}

/* ========================= HEADER ========================= */
.header {
    background-color: #4c53af;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 20px;
}

.search-container {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    height: 40px;
}

.search-btn {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    height: 40px;
}

.search-btn:hover {
    background-color: #e0e0e0;
}

 /* ========================= SAC DROPDOWN ========================= */

.menu-sac {
    position: relative;
    display: inline-block;
}

/* botão */
.sac-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: 600;
    color: #ffffff;
}
.arrow {
    font-size: 15px;
    transition: transform 0.2s ease;
}



.sac-btn i {
    color: #ffffff;
    font-size: 30px;
}

/* gira a setinha quando abre */
.menu-sac:hover .arrow {
    transform: rotate(180deg);
}

/* dropdown */
.sac-dropdown {
    position: absolute;
    top: 40px;          /* gruda abaixo do botão */
    left: 0;
    width: 260px;
    background: #fff;
    padding: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    border-radius: 6px;
    

    /* escondido */
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
}

/* quando passar o mouse no CONTAINER */
.menu-sac:hover .sac-dropdown {
    opacity: 1;
    visibility: visible;
}



.sac-dropdown::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
}
.sac-content h3 {
    margin-bottom: 10px;
    font-size: 16px;
}


.sac-content h4 {
    margin-bottom: 10px;
    font-size: 14px;
}

.sac-content strong {
    display: block;
    color: #4c53af;
    margin-bottom: 10px;
}
.sac-content p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}
/* ========================= CONTAINER ========================= */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main {
    padding: 30px 0;
}

.section-title {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    max-width: 900px;
    margin: 0 auto 40px;
    font-weight: 400;
    color: gray
}
/* ========================= BARRA DE MARCAS ========================= */
.brand-bar {
  width: 100%;
  height: 40px; /* pode testar 15px */
  background: linear-gradient(90deg, #0b0f1a, #0e1325);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.brand-track {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.brand-track img {
  height: 50px; /* menor que a barra */
}

.brand-track img:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.brand-track img {
  
  opacity: 0.7;
  filter: grayscale(100%);
  transition: 0.3s;
}


/* ========================= GRID DE PRODUTOS ========================= */
.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px 10px #4c53af;
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
    border-radius: 8px;
}

.product-title {
    font-size: 16px;
    margin-bottom: 10px;
    height: 40px;
    overflow: hidden;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

/*.product-discount {
    font-size: 14px;
    color: #00ff62;
    font-weight: bold;
}
*

/* ========================= HERO ========================= */
.hero {
    background-image: url(./assets/hero2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #000000;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    /* topo */
    align-items: center;          /* centro horizontal */
     background-color: #000;
    height: 450px;
   }

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* esquerda | centro | direita */
    height: 100%;
    width: 100%;
}

.hero-side {
    display: flex;
    align-items: center;
    justify-content: center;
}



.hero-left {
    background-image: url("./assets/placavideoneon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.hero-right {
    background-image: url("./assets/ps5neon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hero-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1px;
    color: #ffffff;
    margin-bottom: 100px;
}


.hero p {
    font-size: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 2px; /* espaço do rodapé */
    color: white;
    padding: 130px;
    text-shadow:
        0 0 6px rgba(0, 150, 255, 0.6)
}


/* ========================= FOOTER ========================= */
.footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    border-top: 2px solid #e0e0e0;
}

.footer p {
    color: #777777;
    font-size: 14px;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    z-index: 9999;
}

.whatsapp-button img {
    width: 50px;
    height: 50px;
}

/* ==========================================================
   RESPONSIVIDADE REAL
   ========================================================== */

/* 1024px — Tablets e notebooks menores */
@media (max-width: 1024px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
        .brand-bar {
    display: none;
}
}

/* 768px — Tablets e celulares maiores */
@media (max-width: 768px) {

    .sac-dropdown {
        position: fixed;        /* solta do header */
        top: 70px;              /* abaixo do topo */
        left: 70%;
        transform: translateX(-50%);
        width: 50%;
        max-width: 360px;
        z-index: 9999;
    }


    .header {
        flex-direction: column;
        padding: 20px;
    }

    .search-input {
        width: 100%;
    }

    .hero {
    height: auto;
    padding: 30px 0;
    
  }

    .hero-content h1 {
    font-size: 38px;
    color: rgb(140, 88, 236);
    margin-top: 10px;
    text-align: center;
}

    .hero p {
        font-size: 28px;
        display: none;
    }

    .brand-bar {
    display: none;
}

}


/* 480px — Celulares */
@media (max-width: 480px) {

    /* MOBILE: clique */
.sac-dropdown.ativo {
    opacity: 1;
    visibility: visible;
}

    .search-container {
        flex-direction: row;
        width: 100%;
    }

    .search-btn {
        padding: 10px;
    }

    .products-grid {
        grid-template-columns: 1fr;
        /* apenas 1 produto por linha */
    }

    .product-image {
        height: 170px;
    }

    .hero {
        height: 250px;
        background-size: cover;
    }

    .hero-content h1 {
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-bottom: 1000px;
    text-align: center;
}

    .hero p {
        font-size: 12px;
        padding: 50px;
    }
        .brand-bar {
    display: none;
}
}